.container{
    display: flex; 
    justify-content: space-between; 
    width: 85%;
}

.container .title{
    background-color: #dce4e4;
}

.container .routes{
    margin-top: 10px;
}

.container .routes h5{
    position: relative; 
    top: -20px;
    right: 200px;
} 

.products-link{
    display: flex;
    flex-direction: column;
    padding: 5px;
    text-decoration: none;
    color: blue;
}